# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/

# Datos sensibles
*.csv

# Secrets
.env
*.env
*.pem
*.key
service-account.json
google-credentials.json

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Claude / gstack internal
.claude/

# Vercel
.vercel/
.vercel

# Assets grandes
*.jpg
*.jpeg
*.png
*.gif
*.docx
*.pdf
.gstack/
